

<nav class="navbar navbar-expand-lg fixed-top navbar-light " data-bs-theme="dark">
    
    <div class="container">
        <div class="nav_div_logo">
            <a class="navbar-brand" href="{{path('app_home')}}">
                <img  class="nav_logo_img" width="800" src="{{ asset('images/logos/Logo_JDE_4.png') }}" alt="logo">
            </a>
        </div>   
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end " id="navbarToggler">

            {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}  {#Ne gère pas le cookie Remember l'utilisateur doit donc avoir entré son mdp récemment!#}
            {% if app.user %}
               
                <ul class="navbar-nav  ">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item d-flex flex-column  align-items-start    flex-lg-row  align-items-lg-center">
                            <a class="nav-link  {{ app.current_route starts with 'admin' ? 'active' : '' }}" href="{{ path('admin') }}"> Administration</a> <!--text-white-->
                        </li>
                    {% endif %}
        
                    <li class="nav-item d-flex flex-column  align-items-start    flex-lg-row  align-items-lg-center">
                        <a class="nav-link" href="{{ path('app_partie-multi_creer') }}">{{ 'Créer/lancer une partie multijoueur' | trans }}</a>
                    </li>
                    <li class="nav-item d-flex flex-column  align-items-start    flex-lg-row  align-items-lg-center">
                        <a class="nav-link" href="{{ path('app_partie-multi_rejoindre') }}">{{ 'Rejoindre une partie multijoueur' | trans }}</a>
                    </li>
        
        
                    <li class="nav-item dropdown  pt-5 pt-lg-0 d-flex flex-column  align-items-start    flex-lg-row  align-items-lg-center">
                        <a class="nav-link dropdown-toggle d-flex flex-row align-items-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {#Pour l'icône flèche #}
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="fa-solid fa-user fa-2x fa-lg-3x"></i>
                                {{ app.user.login }} 
                            </div>
                        </a>
                        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-center" href="{{ path('app_logout') }}">{{ 'Déconnexion' | trans }}</a></li>
                        </ul>
                    </li>
                </ul>
               

            {% else %}
                <ul class="navbar-nav d-flex flex-column align-items-start flex-lg-row align-items-lg-center">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex flex-row align-items-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {#Pour l'icône flèche #}
                            <div class="d-flex flex-column align-items-center">
                                <i class="fa-solid fa-user fa-2x fa-lg-3x "></i>
                                <span class="nav_pas_connecte"> Vous n'êtes pas connecté</span> 
                            </div>
                        </a>
                        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-center {{ app.current_route == 'app_login' ? 'active' : '' }}" href="{{ path('app_login') }}">{{'Se connecter'| trans }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item  text-center {{ app.current_route == 'app_register' ? 'active' : '' }}" href="{{ path('app_register') }}">{{'Créer un compte' | trans }}</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
