 {# <nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark"> #}
<nav class="navbar fixed-top bg-dark navbar-expand" data-bs-theme="dark">
{# <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded"> #}
    
    <a class="navbar-brand" href="{{path('app_home')}}">
        <img class="img-fluid" width="200" src="{{ asset('images/logos/logo1.png') }}" alt="Le jeu des écrivains logo">
    </a>
    
    <div class="container-fluid d-flex flex-row-reverse">
        <span class="navbar-brand mb-0 h1">{{ 'Le jeu des écrivains' | trans }}</span>
        
        <!-- Menu de navigation -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                   
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav me-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                         <li class="nav-item">
                            <a class="nav-link {{ app.current_route starts with 'admin' ? 'active' : '' }}" href="{{ path('admin') }}">Administration</a>
                        </li>
                    {% endif %}
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_Creer_partie_multi') }}">{{ 'Créer/lancer une partie multijoueur' | trans }}</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_rejoindre_partie_multi') }}">{{ 'Rejoindre une partie multijoueur' | trans }}</a>
                    </li>
                    <li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">{{ 'Déconnexion' | trans }}</a>
					</li>
                   
                </ul>

            {% else %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route == 'app_register' ? 'active' : '' }}" <a href="{{ path('app_register') }}">{{'Créer un compte' | trans }}</a>
                    </li>

					<li class="nav-item">
                        <a class="nav-link {{ app.current_route == 'app_login' ? 'active' : '' }}" <a href="{{ path('app_login') }}">{{'Connexion'| trans }}</a>
                    </li>
				</ul>
            {% endif %}
        </div>
    </div>
</nav>
 {# <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
        
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {{ app.current_route == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.current_route starts with 'admin' ? 'active' : '' }}" href="{{ path('admin') }}">Administration</a>
                        </li>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.current_route == 'app_logout' ? 'active' : '' }}" <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.current_route == 'app_login' ? 'active' : '' }}" <a href="{{ path('app_login') }}">Se connecter</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {{ app.current_route == 'app_register' ? 'active' : '' }}" <a href="{{ path('app_register') }}">Créer un compte</a>
                            </li>
                        {% endif %}
                        

                        
                    </ul>
                </div>
            </div>
         </nav> #}